<form action="/users/updateUser/<%= oneUser.userName %>?_method=PATCH" method="POST" >
    <h2>Update user</h2>
    <div>
        <label for="displayName">Select your display name</label>
        <input type="text" id="displayName" name="user[displayName]" required>
    </div>
    <div>
        <label for="userName">Select a username</label>
        <input type="text" id="userName" name="user[userName]" required>
    </div>
    <div>
        <label for="password">Enter a password</label>
        <input type="text" id="password" name="user[password]" required>
    </div>

    <div>
        <span>
            <label for="firstName">First Name</label>
            <input type="text" id="firstName" name="user[firstName]" required>
        </span>
        <span>
            <label for="lastName">Last Name</label>
            <input type="text" id="lastName" name="user[lastName]" required>
        </span>
    </div>
    <div>
        <label for="description">Description</label>
        <textarea id="description" rows="4" cols="50" name="user[description]"></textarea>
    </div>
    <div>
        <span>
            Birthday 
            <select id="birthMonth" name="user[birthMonth]">
            <% for (let x = 1; x < 13; x++){ %> 
                <option value="<%= x %>"><%= x %></option>
            <% } %> 
            </select>
            <select id="birthDay" name="user[birthDay]">
            <% for (let x = 1; x < 32; x++){ %> 
                <option value="<%= x %>"><%= x %></option>
            <% } %> 
            </select>
            <input type="number" name="user[birthYear]">
        </span>
    </div>
    <div>
        <span>
            Location 
            <label for="locationCity">City</label>
            <input type="text" id="locationCity" name="user[locationCity]">
            <label for="locationState">State</label>
            <input type="text" id="locationState" name="user[locationState]">
            <label for="locationCountry">Country</label>
            <input type="text" id="locationCountry" name="user[locationCountry]">
        </span>
    </div>

    <button>Submit</button>
</form>