<% layout("Layouts/boilerplate") %> 

<h1>I am <%= profile.displayName %></h1>

<%= updated %> 

<div>
    <a href="/profiles/update/<%= profile.username %> "><button>Update Profile</button></a>
    <form action="/profiles/<%= profile.username %>?_method=delete"  method="POST">
        <button>Delete Profile</button>
    </form>

</div>
<ul>
    <div>Display name - <%= profile.displayName %></div>
    <div>User name - <%= profile.username %></div>
    <div>Full name - <%= profile.firstName %> <%= profile.lastName %></div>
    <div>Description - <%= profile.description %></div>
    <div>Birthday - <%= profile.birthMonth %>/<%= profile.birthDay %>/<%= profile.birthYear %></div>
    <div>Location - <%= profile.city %>, <%= profile.state %>, <%= profile.country %></div>
</ul>